.vscode/
__pycache__/
build/
dist/
imagesBU/
images_chris/
statistics/*
!statistics/.gitkeep 
images/*
!images/.gitkeep 
proteins/*
!proteins/.gitkeep 
logs/*.
!logs/.gitkeep 
Surface_Analysis.egg-info/
BU_surface_Analysis.py