.vscode/
__pycache__/
build/
dist/
imagesBU/
images_chris/
images_marco/
statistics/*.csv
images/*.png 
proteins/*
!proteins/.gitkeep 
logs/*.log
Surface_Analysis.egg-info/
BU_surface_Analysis.py